primary-color; #BC6C25


secondary-color; #606C38

accent1-color; #DDA15E


accent2-color; #FEFAE0

https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25

h2 {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  }
  
