main {min-width: auto;
    margin: auto;
}
aside {width: 450px; 
    margin: 1rem;
    border: 1px solid;
    padding: 1rem;
    background-color: rgb(170, 70, 70);
    color: aquamarine;
    text-align: center;
}

nav {background-color: aquamarine;padding: 10px;}

nav a {color: white;display: inline;padding: 20px;}

h1 {color: rgb(26, 145, 163);}

aside img {width: 450px;
height: auto;
}

main img {width: 350px;
    height: auto;
}

p {padding: 10px;
} 


footer {margin-top: 15px;
border-top: 1px solid #000;
text-align: center;}




